{% extends 'base.html.twig' %}

{% block title %} Administration {% endblock %}

{% block body %} 

<style>
    .buttonUser{
        margin-top: 25%;
        margin-bottom: 20%;
        margin-left: 25%;
        font-size: xx-large;
    }
    .buttonPartenaire{
        margin-left:70%;
        font-size: xx-large;
    }
</style>

<div class="section">
    <div class="buttonUser" >
        <a href="{{path('app_user')}}">Utilisateurs</a>
    </div>
    <div>
        <a "buttonPartenaire" class href="{{path('app_user')}}">Partenaires</a>
    </div>
</div>
{% endblock %}