{% extends 'base.html.twig' %}

{% block title %} Administration {% endblock %}

{% block body %} 

<div class="btn btn-primary my-3" >
    <a href="{{path('app_user')}}">Utilisateurs</a>
</div>


{% endblock %}