{% extends 'base.html.twig' %}

{% block title %} Administration {% endblock %}


{% block body %} 

<style>
    .buttonUser{
        margin-top: 25%;
        margin-bottom: 20%;
        margin-left: 25%;
        font-size: xx-large;
        border:solid;
        border-radius:10px;
    }
    .buttonPartenaire{
        margin-left:35%;
        font-size: xx-large;
    }
</style>

<div class="section">
    <div class="buttonUser" >
        <a href="{{path('app_user')}}">Utilisateurs</a>
        <a class="buttonPartenaire" href="{{path('app_partenaire')}}">Partenaires</a>
    </div>
</div>
{% endblock %}