{% extends 'base.html.twig' %}

{% block title %} Administration {% endblock %}

{% block body %} 

<div>
    <a class="btn btn-primary my-3" href="{{path('app_user')}}">Utilisateurs</a>
</div>


{% endblock %}