<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %} - MIAGE</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="stylesheet" href="{{ asset('assets/css/styleJNM.css')}}">
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body style="background-image: url('img/fond.jpg'); background-position: center; background-repeat: repeat; background-size: 100%; opacity: 0.92;">
        <header>
            <a href="https://127.0.0.1:8000/connexion">
               
                    <p1 class="connexion"> Connexion </p1>
                
            </a>
                <p2 class="inscription"> Inscription </p2>
             {% block body %}
                <h1 class = "afficher">Journées Nationales</h1>
                <h2 class = "afficher">de la</h2>
                <h1 class = "afficher">MIAGE</h1>
             {% endblock %}
                
                
            

            
        </header>
        <p3 class="zoneInfo">Hello</p3>
    </body>
</html>
