<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Connexion</title><link rel="shortcut icon" type= "image/png" href="{{asset('img/log.png')}}" />
        <link href="{{asset('assets/css/styleJNM.css')}}" rel="stylesheet" type="text/css">
    </head>
        <body style="background-image: url('img/fond.jpg'); background-position: center; background-repeat: repeat; background-size: 100%; opacity: 0.92;">
            <p1 class="connexion"> Inscription </p1>
            
        <section>
            <bloc></bloc>
            
            <p2 class ="pwd">password :</p2>
            <form> 
                <div>
                    <label class ="mail" for="Mail">Mail</label><br>
                    <input class = "champMail" type="text" id="Mail"><br>
                </div>

                <div>
                    <label class ="pwd" for="Pwd">Mot de passe</label><br>
                    <input class = "champPwd" type="text" id="pwd"><br>
                </div>

                <div>
                    <input class = "valider" type="submit">
                </div>
            </form>


        </section>
                
    </body>
</html>