{% extends 'base.html.twig' %}

{% block title %} Liste des partenaires {% endblock %}

{% block body %}
<section class="section" id="about">    
    <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <h1>Liste des partenaires</h1>
                        <table class="table table-striped table-dark">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nom de société</th>
                            <th scope="col">Adresse</th>
                            <th scope="col">Aide/Dons</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for part in partenaire %}
                            <tr>
                                <th scope="row">{{ part.id }}</th>
                                <td>{{ part.nomSociete }}</td>
                                <td>{{ part.adresse }}</td>
                                <td>{{ part.donsouaides }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
    </div>
</section>
{% endblock %}