{% extends "base.html.twig" %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}

<style>
    .erreur{
        margin-top:15%;
        font-size:xx-large;
    }
</style>
    <div class="container erreur">
        <div class="row">
            <p>Désolé, nous ne reconnaissons pas cette page.</p>
        </div>
    </div>
{% endblock %}